.liste_recettes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 92%;
    margin: auto;
    margin-top: 30px;
    .recette {
        width: 30%;
        min-width: 300px;
        height: 450px;
        margin-bottom: 70px;
        text-decoration: none;
        color: inherit;
        .image {
            background-color: #C7BEBE;
            width: 100%;
            height: 50%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        .recette_indications {
            display: flex;
            flex-direction: column;
            height: 50%;
            background-color: #E7E7E7;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            padding: 10px;
            padding-top: 20px;
            .titre_temps {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                font-size: 18px;
                height: 45px;
                .temps {
                    white-space: nowrap;
                }
            }
            .ingredients_indications {
                display: flex;
                justify-content: space-between;
                .ingredients {
                    width: 48%;
                    display: flex;
                    flex-direction: column;
                    font-size: 14px;
                    p {
                        margin-top: 1px;
                    }
                }
                .indications {
                    width: 50%;
                    p {
                        height: 145px;
                        font-size: 15px;
                        display: -webkit-box;
                        -webkit-line-clamp: 8;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    
                }
            }
        }
    }
    .recette:hover {
        transform: scale(1.05);
    }
}

.aucune_recette {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    display: none;
    animation: aucune_recette 300ms;
}

@keyframes aucune_recette {
    0% {
        transform: translateY(700px);
    }
    100% {
        transform: translateY(0);
    }
}