body {
    font-family: 'lato', sans-serif;
}

.recherche_barre {
    color: #000000;
    font-size: 18px;
    padding-left: 22px;
}

.tag {
    font-size: 17px;
}

.menu_ferme, .menu_ouvert {
    font-size: 22px;
}

.input_tag::placeholder {
    color: whitesmoke;
    opacity: 0.5;
    font-size: 17px;
    font-weight: bold;
}